#for details see https://cloudinit.readthedocs.io/en/latest/topics/instancedata.html

network:
  version: 2
  ethernets:
    ens192:
      addresses:
        - ${ip}
      gateway4: ${gateway}
      nameservers:
        addresses:
          %{~ for key in nameservers ~}
          - ${key}
          %{~ endfor ~}
